

<div id="home" class="col-lg-9 mx-auto p-3 py-5 md-5 viewportitem" style="max-width: 700px; min-height: 100vh;">

<div class="fade-in-fwd mb-5">


        <img src="assets/img/tnyml.png" class="img-fluid mb-3" alt="...">
   
        <h1 class="text-center tny_txt_red">MAKING MACHINE LEARNING ACCESSIBLE</h1>
  </div>
  <div class="p-4 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold mb-3">Welcome to tnyML</h1>
      <p class="col-md-8 fs-4">Optimize your Business with Machine Learning easier than ever. </p>
      <hr class="mt-4">
      <button class="btn tny_yellow btn-lg mt-3" type="button" (click)="scroll(upload)">Get stated!</button>
    </div>
  </div>
</div>

<div #upload></div>
